// Имя:             Container
// Описание:        Компонент для выравнивания сайта по центру
//
// Компонент:       `container`
//
// Модификаторы:    `container_small`
//                  `container_large`
//                  `container_expand`
//
// ========================================================================


// Переменные
// ========================================================================

$container-max-width: 1024px !default;
$container-small-max-width: 900px !default;
$container-large-max-width: 1139px !default;

$container-padding-horizontal: 15px !default;
$container-padding-horizontal-s:15px !default;
$container-padding-horizontal-m: 40px !default;


/* ========================================================================
   Компонент: Container
 ========================================================================== */

/*
 * 1. Box-sizing должен быть 'content-box', благодаря этому максимальная ширина всегда одинакова и
 *    не зависит от padding на разных экранах. Это важно для модификаторов.
 */

.container {
    position: relative;
    box-sizing: content-box;
    /* 1 */
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-horizontal;
    padding-right: $container-padding-horizontal;

    /* Удаление padding у вложенного container */
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    &-fueld {
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* Телефон в горизонтальном положение и шире */
    @media (min-width: $container-small-max-width) {
        padding-left: $container-padding-horizontal-s;
        padding-right: $container-padding-horizontal-s;
    }

    /* Планшет в горизонтальном положение и шире */
    @media (min-width: $container-large-max-width) {
        padding-left: 0;
        padding-right: 0;
    }

    /* Модификаторы
 ========================================================================== */

    &_small {
        max-width: $container-small-max-width;
    }

    &_large {
        max-width: $container-large-max-width;
    }

    &_expand {
        max-width: none;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1024px) {
    .row {
        flex-wrap: wrap;
    }

    .container {
        overflow: hidden;
    }
}